body {
  background-color: #E8F5FF;
  color: #0063A3;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  transition: 0.3s;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.show-item {
  display: block !important;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.core-style *:last-child {
  margin-bottom: 0;
}
.core-style p, .core-style ul, .core-style ol,
.core-style h1, .core-style h2, .core-style h3, .core-style h4, .core-style h5, .core-style h6 {
  margin: 0 0 15px;
}
.core-style p, .core-style ul, .core-style ol, .core-style label, .core-style .form-control {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
}
.core-style ul, .core-style ol {
  padding-left: 20px;
}
.core-style ul li, .core-style ol li {
  margin-bottom: 10px;
}
.core-style h1 {
  font-size: 30px;
  font-size: 1.875rem;
}
.core-style h2 {
  font-size: 25px;
  font-size: 1.5625rem;
}
.core-style .form-control {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #0063A3;
  transition: box-shadow 0.3s;
}
.core-style .form-control:focus {
  box-shadow: 0 0 0 2px #B900FF;
}
.core-style textarea {
  max-width: 100%;
  min-height: 200px;
}
.core-style fieldset {
  border-radius: 8px;
  border-color: #0063A3;
}
.core-style fieldset legend {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .core-style p, .core-style ul, .core-style ol,
  .core-style h1, .core-style h2, .core-style h3, .core-style h4, .core-style h5, .core-style h6 {
    margin: 0 0 20px;
  }
  .core-style p, .core-style ul, .core-style ol, .core-style label, .core-style .form-control {
    font-size: 18px;
    font-size: 1.125rem;
  }
  .core-style h1 {
    font-size: 35px;
    font-size: 2.1875rem;
  }
  .core-style h2 {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .core-style fieldset legend {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.header {
  background-color: #0063A3;
  color: #FFFFFF;
  padding: 10px 0;
}
.header .page-title {
  color: inherit;
}
@media (min-width: 768px) {
  .header {
    padding: 20px 0;
  }
}

.form-area {
  padding: 20px 0;
}
.form-area .form .form-group.ignore-words {
  margin-top: 10px;
  display: none;
}
@media (min-width: 768px) {
  .form-area {
    padding: 30px 0;
  }
}

.results {
  padding: 20px 0;
  background-color: #0D7700;
  color: #FFFFFF;
  box-shadow: 0 100vh 0 100vh #0D7700;
}
.results .core-style * {
  color: inherit;
}
@media (min-width: 768px) {
  .results {
    padding: 30px 0;
  }
}

.form-group {
  margin-bottom: 15px;
}
.form-group.block label {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
}

.form-action {
  margin-top: 20px;
}
.form-action .btn {
  margin: 0;
}
@media (min-width: 768px) {
  .form-action {
    margin-top: 30px;
  }
}

.btn {
  font-size: 16px;
  font-size: 1rem;
  background-color: #0063A3;
  color: #FFFFFF;
  padding: 8px 12px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  font-family: inherit;
  margin-bottom: 20px;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #B900FF;
}
@media (min-width: 768px) {
  .btn {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

/*# sourceMappingURL=style.css.map */
