@import 'global';

body {
    background-color: $page-bg;
    color: $text-col;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    transition: .3s;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.show-item {
    display: block !important;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    @media (min-width: $sm) {
        max-width: 540px;
    }
    @media (min-width: $md) {
        max-width: 720px;
    }
    @media (min-width: $lg) {
        max-width: 960px;
    }
    @media (min-width: $xl) {
        max-width: 1140px;
    }
    @media (min-width: $xxl) {
        max-width: 1320px;
    }
}

.core-style {
    *:last-child {
        margin-bottom: 0;
    }
    p, ul, ol,
    h1, h2, h3, h4, h5, h6 {
        margin: 0 0 15px;
    }
    p, ul, ol, label, .form-control {
        @include fs(16);
        line-height: 1.5;
    }
    ul, ol {
        padding-left: 20px;
        li {
            margin-bottom: 10px;
        }
    }
    h1 {
        @include fs(30);
    }
    h2 {
        @include fs(25);
    }
    .form-control {
        width: 100%;
        padding: 10px;
        border: 0;
        outline: 0;
        border-radius: 5px;
        box-shadow: 0 0 0 1px $input-border;
        transition: box-shadow .3s;
        &:focus {
            box-shadow: 0 0 0 2px $input-border-active;
        }
    }
    textarea {
        max-width: 100%;
        min-height: 200px;
    }
    fieldset {
        border-radius: 8px;
        border-color: $text-col;
        legend {
            @include fs(16);
            font-weight: 700;
        }
    }
    @media (min-width: $md) {
        p, ul, ol,
        h1, h2, h3, h4, h5, h6 {
            margin: 0 0 20px;
        }
        p, ul, ol, label, .form-control {
            @include fs(18);
        }
        h1 {
            @include fs(35);
        }
        h2 {
            @include fs(30);
        }
        fieldset {
            legend {
                @include fs(18);
            }
        }
    }
}

// Template styles
.header {
    background-color: $header-bg;
    color: $header-text;
    padding: 10px 0;
    .page-title {
        color: inherit;
    }
    @media (min-width: $md) {
        padding: 20px 0;
    }
}

.form-area {
    padding: 20px 0;
    .messages {
        background-color: $message-bg;
        border: 1px solid;
        padding: 10px;
        list-style: none;
        border-radius: 5px;
    }
    .form {
        .form-group {
            &.ignore-words {
                margin-top: 10px;
                display: none;
            }
        }
    }
    @media (min-width: $md) {
        padding: 30px 0;
    }
}

.results {
    padding: 20px 0;
    background-color: $results-bg;
    color: $results-text;
    box-shadow: 0 100vh 0 100vh $results-bg; // Extend bg to the bottom of the page
    .core-style {
        * {
            color: inherit;
        }
    }
    @media (min-width: $md) {
        padding: 30px 0;
    }
}

// Component styles
.form-group {
    margin-bottom: 15px;
    &.block {
        label {
            display: block;
            font-weight: 700;
            margin-bottom: 10px;
        }
    }
}
.form-action {
    margin-top: 20px;
    .btn {
        margin: 0;
    }
    @media (min-width: $md) {
        margin-top: 30px;
    }
}

.btn {
    @include fs(16);
    background-color: $btn-bg;
    color: $btn_text;
    padding: 8px 12px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
    font-family: inherit;
    margin-bottom: 20px;
    &:hover, &:focus, &:active {
        background-color: $btn-bg-hover;
    }
    @media (min-width: $md) {
        @include fs(18);
    }
}